<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{{ path_for('homepage') }}" class="navbar-brand">Logotipo</a>
    </div>
    <div id="main-navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            {% set facturacion_urls = [path_for('invoices'), path_for('creditofiscal'), path_for('tirajes'), path_for('tirajes/createform')] %}
            <li class="dropdown {% if uri_path in facturacion_urls %}active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    Facturación
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="{% if uri_path == path_for('invoices') %}active{% endif %}">
                        <a href="{{ path_for('invoices') }}">
                            <span class="glyphicon glyphicon-user"></span>
                            Ver Consumidor Final
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('creditofiscal') %}active{% endif %}">
                        <a href="{{ path_for('creditofiscal') }}">
                            <span class="glyphicon glyphicon-home"></span>
                            Ver Crédito Fiscal
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('tirajes/createform') %}active{% endif %}">
                        <a href="{{ path_for('tirajes/createform') }}">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Nuevo Tiraje de Factura
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('tirajes') %}active{% endif %}">
                        <a href="{{ path_for('tirajes') }}">
                            <span class="glyphicon glyphicon-th-list"></span>
                            Ver Tirajes de Factura
                        </a>
                    </li>
                </ul>
            </li>
            {% set productos_urls = [path_for('products/createform'), path_for('categories/createform'), path_for('products'), path_for('categories'), path_for('brands'), path_for('measurements'), path_for('ingresos')] %}
            <li class="dropdown {% if uri_path in productos_urls %}active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-gift"></span>
                    Productos
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="{% if uri_path == path_for('products/createform') %}active{% endif %}">
                        <a href="{{ path_for('products/createform') }}">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Nuevo Producto
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('categories/createform') %}active{% endif %}">
                        <a href="{{ path_for('categories/createform') }}">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Nueva Categoría
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('products') %}active{% endif %}">
                        <a href="{{ path_for('products') }}">
                            <span class="glyphicon glyphicon-gift"></span>
                            Ver Productos
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('categories') %}active{% endif %}">
                        <a href="{{ path_for('categories') }}">
                            <span class="glyphicon glyphicon-tasks"></span>
                            Ver Categorías
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('brands') %}active{% endif %}">
                        <a href="{{ path_for('brands') }}">
                            <span class="glyphicon glyphicon-tags"></span>
                            Ver Marcas
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('measurements') %}active{% endif %}">
                        <a href="{{ path_for('measurements') }}">
                            <span class="glyphicon glyphicon-scale"></span>
                            Ver Medidas
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('ingresos') %}active{% endif %}">
                        <a href="{{ path_for('ingresos') }}">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Ver Detalles de Entradas
                        </a>
                    </li>
                </ul>
            </li>
            {% set warehouses_urls = [path_for('warehouses'), path_for('warehouses/createform')] %}
            <li class="dropdown {% if uri_path in warehouses_urls %}active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-home"></span>
                    Almacenes
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="{% if uri_path == path_for('warehouses/createform') %}active{% endif %}">
                        <a href="{{ path_for('warehouses/createform') }}">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Nuevo Almacén
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('warehouses') %}active{% endif %}">
                        <a href="{{ path_for('warehouses') }}">
                            <span class="glyphicon glyphicon-home"></span>
                            Ver Almacenes
                        </a>
                    </li>
                </ul>
            </li>
            {% set contactos_urls = [path_for('empresas'), path_for('empresas/createform'), path_for('providers'), path_for('clientes/personas'), path_for('clientes/empresas'), path_for('clientes/createform')] %}
            <li class="dropdown {% if uri_path in contactos_urls %}active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-earphone"></span>
                    Contactos
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="{% if uri_path == path_for('empresas/createform') %}active{% endif %}">
                        <a href="{{ path_for('empresas/createform') }}">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Nuevo Contacto Empresa
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('clientes/createform') %}active{% endif %}">
                        <a href="{{ path_for('clientes/createform') }}">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Nuevo Contacto Cliente
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('empresas') %}active{% endif %}">
                        <a href="{{ path_for('empresas') }}">
                            <span class="glyphicon glyphicon-home"></span>
                            Ver Contactos Empresas
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('providers') %}active{% endif %}">
                        <a href="{{ path_for('providers') }}">
                            <span class="glyphicon glyphicon-download-alt"></span>
                            Proveedores
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('clientes/personas') %}active{% endif %}">
                        <a href="{{ path_for('clientes/personas') }}">
                            <span class="glyphicon glyphicon-heart"></span>
                            Ver Clientes
                        </a>
                    </li>
                    <li class="{% if uri_path == path_for('clientes/empresas') %}active{% endif %}">
                        <a href="{{ path_for('clientes/empresas') }}">
                            <span class="glyphicon glyphicon-briefcase"></span>
                            Ver Contribuyentes
                        </a>
                    </li>
                </ul>
            </li>
            <li class="{% if uri_path == path_for('ajustes') %}active{% endif %}">
                <a href="{{ path_for('ajustes') }}">
                    <span class="glyphicon glyphicon-cog"></span>
                    Configuraciones
                </a>
            </li>
        </ul>
    </div>
</nav>
