{% extends 'templates/base.twig' %}

{% block title %}Clientes{% endblock %}

{% block breadcrumb %}
    {{ bread.crumb(path_for('empresas'), 'Empresas') }}
    {{ bread.crumb_active('Ver Solo Contribuyentes') }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Búsqueda de Clientes</h2>
                    </div>
                    <div class="panel-body">
                        <form id="clientsForm" action="{{ path_for('clientes/empresas') }}" method="get" role="form">
                            <div class="form-group has-feedback has-clear">
                                <label for="nombreCliente">Nombre</label>
                                <input id="nombreCliente" class="form-control" type="text" name="nombreCliente" placeholder="Nombre de el cliente" value="{{ input.nombreCliente }}">
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.nombreCliente %}hidden{% endif %}"></span>
                            </div>
                            <div class="form-group has-feedback has-clear">
                                <label for="registroCliente">Número de Registro</label>
                                <input id="registroCliente" class="form-control" type="text" name="registroCliente" placeholder="Número de registro de el cliente" value="{{ input.registroCliente }}">
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.registroCliente %}hidden{% endif %}"></span>
                            </div>
                            <div class="form-group has-feedback has-clear">
                                <label for="nitCliente">NIT</label>
                                <input id="nitCliente" class="form-control" type="text" name="nitCliente" placeholder="NIT de el cliente" value="{{ input.nitCliente }}">
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.nitCliente %}hidden{% endif %}"></span>
                            </div>
                            <div class="form-group">
                                <label for="clientsPerPage">Cantidad por página</label>
                                <select id="clientsPerPage" class="form-control" name="itemsPerPage">
                                    {% set perPageOpts = [10, 25, 50] %}
                                    {% for opt in perPageOpts %}
                                        <option value="{{ opt }}" {% if pagination.itemsPerPage == opt %}selected{% endif %}>{{ opt }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="hidden" name="currentPage" value="{{ pagination.currentPage }}">
                            <button class="btn btn-block btn-info link-submit" type="submit" data-input="currentPage" data-value="1">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0 col-lg-9">
                <div class="panel no-margin-bottom {% if clients %}panel-primary{% else %}panel-default{% endif %}">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ pagination.totalItems }} Resultados</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            {% if not clients %}
                                <caption class="bottom-captions text-center">No se encontraron resultados</caption>
                            {% endif %}
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Registro</th>
                                <th>NIT</th>
                                <th>Giro</th>
                                <th>Teléfono</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td>{{ client.NombreComercial }}</td>
                                    <td>{{ client.Registro }}</td>
                                    <td>{{ client.NIT }}</td>
                                    <td>{{ client.Giro }}</td>
                                    <td>{{ client.Telefono }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% include 'templates/listpagination.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
