{% extends 'templates/base.twig' %}

{% block title  %}Nuevo Cliente{% endblock %}

{% block breadcrumb %}
    {{ bread.crumb(path_for('clientes/personas'), 'Clientes') }}
    {{ bread.crumb(path_for('clientes/createform'), 'Nuevo Contacto Cliente') }}
{% endblock %}

{% block content %}
    {{ dump(failedInputs) }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                {% if isSaved %}
                    <div class="alert alert-success"><span class="glyphicon glyphicon-ok-sign"></span> El cliente ha sido creado exitosamente!</div>
                {% endif %}
                {% if isSaved is same as(false) %}
                    <div class="alert alert-danger"><span class="glyphicon glyphicon-remove-sign"></span> No se pudo crear el cliente nuevo.</div>
                {% endif %}
                <div class="panel panel-primary">
                    <div class="panel-heading">Introduce los datos de contacto de un cliente</div>
                    <div class="panel-body">
                        <form action="{{ path_for('clientes/createform') }}" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback has-clear {% if failedInputs.nombres %}has-error{% endif %}">
                                        <label for="nombres">Nombres del Cliente</label>
                                        <input type="text" name="nombres" value="{% if isSaved is same as(false) %}{{ input.nombres }}{% endif %}" class="form-control" id="nombres">
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.nombres %}hidden{% endif %}"></span>
                                    </div>
                                    <div class="form-group has-feedback has-clear {% if failedInputs.apellidos %}has-error{% endif %}">
                                        <label for="apellidos">Apellidos del Cliente</label>
                                        <input type="text" name="apellidos" value="{% if isSaved is same as(false) %}{{ input.apellidos }}{% endif %}" class="form-control" id="apellidos">
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.apellidos %}hidden{% endif %}"></span>
                                    </div>
                                    <div class="form-group has-feedback has-clear {% if failedInputs.dui %}has-error{% endif %}">
                                        <label for="dui">DUI del Cliente</label>
                                        <input type="text" name="dui" value="{% if isSaved is same as(false) %}{{ input.dui }}{% endif %}" class="form-control" id="dui">
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.dui %}hidden{% endif %}"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback has-clear {% if failedInputs.nit %}has-error{% endif %}">
                                        <label for="nit">NIT del Cliente</label>
                                        <input type="text" name="nit" value="{% if isSaved is same as(false) %}{{ input.nit }}{% endif %}" class="form-control" id="nit">
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.nit %}hidden{% endif %}"></span>
                                    </div>
                                    <div class="form-group has-feedback has-clear {% if failedInputs.direccion %}has-error{% endif %}">
                                        <label for="direccion">Dirección</label>
                                        <input type="text" name="direccion" value="{% if isSaved is same as (false) %}{{ input.direccion }}{% endif %}" class="form-control" id="direccion">
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.direccion %}hidden{% endif %}"></span>
                                    </div>
                                    <div class="form-group has-feedback has-clear {% if failedInputs.telefono %}has-error{% endif %}">
                                        <label for="telefono">Teléfono</label>
                                        <input type="text" name="telefono" value="{% if isSaved is same as (false) %}{{ input.telefono }}{% endif %}" class="form-control" id="telefono">
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.telefono %}hidden{% endif %}"></span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-info"><span class="glyphicon glyphicon-plus-sign"></span> Crear Contacto</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
