{% extends 'templates/base.twig' %}

{% block title  %}Modificar Categoría{% endblock %}

{% block breadcrumb %}
    {{ bread.crumb(path_for('categories'), 'Categorías') }}
    {{ bread.crumb_active('Editar Categoría') }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if categorySaved is same as(true) %}
            <div class="alert alert-success"><span class="glyphicon glyphicon-ok-sign"></span> La categoría ha sido modificada exitosamente!</div>
            {% endif %}
            {% if categorySaved is same as(false) %}
            <div class="alert alert-danger"><span class="glyphicon glyphicon-remove-sign"></span> No se pudo modificar la categoría.</div>
            {% endif %}
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Modifica esta categoría</h3>
                    <button type="button" class="btn btn-xs btn-danger pull-right" data-toggle="modal" data-target="#modal-eliminar-recurso">
                        <span class="glyphicon glyphicon-trash"></span>
                        Eliminar
                    </button>
                </div>
                <div class="panel-body">
                    <form action="{{ path_for('categories/update', {id: input.codigoCategoria}) }}" method="post">
                        <div class="form-group has-feedback has-clear">
                            <label for="codigoCategoria">Código</label>
                            <input type="text" name="codigoCategoria" value="{{ input.codigoCategoria }}" class="form-control" id="codigoCategoria" maxlength="2">
                            <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.codigoCategoria %}hidden{% endif %}"></span>
                        </div>
                        <div class="form-group has-feedback has-clear">
                            <label for="nombreCategoria">Nombre</label>
                            <input type="text" name="nombreCategoria" value="{{ input.nombreCategoria }}" class="form-control" id="nombreCategoria" maxlength="30">
                            <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.nombreCategoria %}hidden{% endif %}"></span>
                        </div>
                        <button type="submit" class="btn btn-block btn-info"><span class="glyphicon glyphicon-edit"></span> Modificar Categoría</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'categories/eliminarcategoria.twig' %}
{% endblock %}
