<div class="panel panel-primary">
    <div class="panel-heading clearfix">Entrada de Producto <span class="pull-right">Cantidad Total: {{ cantidadActual }}</span></div>
    <div class="panel-body">
        <form action="{{ path_for('products/ingresos', {'id': productID}) }}" method="post">
            <div class="form-group">
                <label for="empresaID">Elige la Empresa Proveedora</label>
                <select name="empresaID" id="empresaID" class="form-control">
                    <option value="">Elige un Proveedor</option>
                    {% for empresa in empresas %}
                        <option value="{{ empresa.EmpresaID }}">{{ empresa.NombreComercial }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group {% if failedInputs.almacenID %}has-error{% endif %}">
                <label for="almacenID">Elige el Almacén a Ingresar</label>
                <select name="almacenID" id="almacenID" class="form-control">
                    <option value="">Elige un Almacén</option>
                    {% for almacen in almacenes %}
                        <option value="{{ almacen.AlmacenID }}">{{ almacen.NombreAlmacen }}</option>
                    {% endfor %}
                </select>
                {% if failedInputs.almacenID %}
                    <span class="help-block">Por favor, elige un almacén.</span>
                {% endif %}
            </div>
            <div class="form-group {% if failedInputs.cantidadIngreso %}has-error{% endif %}">
                <label for="cantidadIngreso">Cantidad a Ingresar</label>
                <div class="input-group">
                    <input type="number" name="cantidadIngreso" value="{{ input.cantidadIngreso ?? 0 }}" class="form-control" id="cantidadIngreso">
                    <span class="input-group-addon">{{ input.medidaProducto }}</span>
                </div>
                {% if failedInputs.cantidadIngreso %}
                    <span class="help-block">Debe ser un número entero, y no debe ser cero.</span>
                {% endif %}
            </div>
            <div class="form-group {% if failedInputs.valorPrecioUnitario %}has-error{% endif %}">
                <label for="valorPrecioUnitario">Costo Unitario</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-usd"></span>
                    </span>
                    <input type="number" name="valorPrecioUnitario" value="0" class="form-control" id="valorPrecioUnitario" min="0" step="any">
                </div>
                {% if failedInputs.valorPrecioUnitario %}
                    <span class="help-block">Debe ser un número mayor a 0.0001</span>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-block btn-info"><span class="glyphicon glyphicon-plus"></span> Ingresar el Producto</button>
        </form>
    </div>
</div>
