{% extends 'templates/base.twig' %}

{% block title  %}Modificar Producto{% endblock %}

{% block breadcrumb %}
    {{ bread.crumb(path_for('products'), 'Productos') }}
    {{ bread.crumb(path_for('products/update', {id: productID}), 'Editar Producto') }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                {% if productSaved == true %}
                <div class="alert alert-success"><span class="glyphicon glyphicon-ok-sign"></span> El producto ha sido modificado exitosamente!</div>
                {% endif %}
                {% if productSaved is same as(false) %}
                <div class="alert alert-danger"><span class="glyphicon glyphicon-remove-sign"></span> No se pudo modificar el producto.</div>
                {% endif %}
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <h2 class="panel-title pull-left">Modifica un producto</h2>
                        {% if is_admin %}
                        <button type="button" class="btn btn-xs btn-danger pull-right" data-toggle="modal" data-target="#modal-eliminar-recurso">
                            <span class="glyphicon glyphicon-trash"></span>
                            Eliminar
                        </button>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <form action="{{ path_for('products/update', {id: productID}) }}" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group {% if failedInputs.codigoCategoria %}has-error{% endif %}">
                                        <label for="categoriaProducto">Categoría del Producto</label>
                                        <select class="form-control new-product-category-select" name="categoriaProducto" id="categoriaProducto">
                                            <option value="">Elige Una Categoría</option>
                                            {% for category in categories %}
                                            <option value="{{ category.CategoriaProductoID }}" {% if input.categoriaProducto == category.CategoriaProductoID %}selected{% endif %}>{{ category.Nombre }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if failedInputs.codigoCategoria %}
                                            <span class="help-block">Por favor elige una categoría.</span>
                                        {% endif %}
                                    </div>
                                    <div class="form-group has-feedback has-clear {% if failedInputs.codigoProducto %}has-error{% endif %}">
                                        <label for="codigoProducto">Código</label>
                                        <div class="input-group">
                                            <span class="input-group-addon new-product-cat-preview">--</span>
                                            <input type="text" name="codigoProducto" value="{{ input.codigoProducto }}" class="form-control" id="codigoProducto" maxlength="20" required>
                                            <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.codigoProducto %}hidden{% endif %}"></span>
                                        </div>
                                        {% if failedInputs.codigoProducto %}
                                            <span class="help-block">Debe ser un código entre 1 y 20 caracteres.</span>
                                        {% endif %}
                                    </div>
                                    <div class="form-group has-feedback has-clear {% if failedInputs.descripcionProducto %}has-error{% endif %}">
                                        <label for="descripcionProducto">Descripción</label>
                                        <input type="text" name="descripcionProducto" value="{{ input.descripcionProducto }}" class="form-control" id="descripcionProducto" maxlength="50" required>
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.descripcionProducto %}hidden{% endif %}"></span>
                                        {% if failedInputs.descripcionProducto %}
                                            <span class="help-block">Debe ser entre 1 y 50 caracteres.</span>
                                        {% endif %}
                                    </div>
                                    <div class="form-group has-feedback has-clear">
                                        <label for="detallesProducto">Detalles</label>
                                        <textarea rows="3" name="detallesProducto" class="form-control" id="detallesProducto" style="resize: vertical">{{ input.detallesProducto }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="stockMinProducto">Stock Mínimo</label>
                                        <input type="number" name="stockMinProducto" value="{{ input.stockMinProducto ?? 1 }}" class="form-control" id="stockMinProducto" min="0">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback has-clear {% if failedInputs.marcaProducto %}has-error{% endif %}">
                                        <label for="marcaProducto">Marca</label>
                                        <input type="text" name="marcaProducto" value="{{ input.marcaProducto }}" class="form-control" id="marcaProducto" maxlength="100" list="listaMarcas" required>
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.marcaProducto %}hidden{% endif %}"></span>
                                        <datalist id="listaMarcas">
                                            {% for brand in brands %}
                                            <option>{{ brand.Nombre }}</option>
                                            {% endfor %}
                                        </datalist>
                                        {% if failedInputs.marcaProducto %}
                                            <span class="help-block">Debe ser entre 1 y 100 caracteres.</span>
                                        {% endif %}
                                    </div>
                                    <div class="form-group has-feedback has-clear {% if failedInputs.medidaProducto %}has-error{% endif %}">
                                        <label for="medidaProducto">Unidad de Medida</label>
                                        <input type="text" name="medidaProducto" value="{{ input.medidaProducto }}" class="form-control" id="medidaProducto" maxlength="24" list="listaMedidas" required>
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.medidaProducto %}hidden{% endif %}"></span>
                                        <datalist id="listaMedidas">
                                            {% for unit in measurements %}
                                            <option>{{ unit.UnidadMedida }}</option>
                                            {% endfor %}
                                        </datalist>
                                        {% if failedInputs.medidaProducto %}
                                            <span class="help-block">Debe ser entre 1 y 24 caracteres.</span>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="categoriaDetProducto">Categoría DET</label>
                                        <select class="form-control" name="categoriaDetProducto" id="categoriaDetProducto">
                                            {% for detcat in detcategories %}
                                            <option value="{{ detcat.CodigoBienDet }}" {% if input.categoriaDetProducto == detcat.CodigoBienDet %}selected{% endif %}>{{ detcat.Descripcion }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="referenciaLibroDetProducto">Referencia Libro DET</label>
                                        <select class="form-control" name="referenciaLibroDetProducto" id="referenciaLibroDetProducto">
                                            {% for reference in detreferences %}
                                            <option value="{{ reference.CodigoLibroDet }}" {% if input.referenciaLibroDetProducto == reference.CodigoLibroDet %}selected{% endif %}>{{ reference.Descripcion }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="productoActivo" value="1" {% if input.productoActivo  %}checked{% endif %}> Producto Activo
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="excentoIvaProducto" value="1" {% if input.excentoIvaProducto  %}checked{% endif %}> Exento IVA?
                                    </label>
                                    <div style="padding-top: 20px">
                                        <a href="/img/products/{{ productID }}.jpg" target="_blank">
                                            <img src="/img/products/{{ productID }}.jpg" height="70">
                                        </a>
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-upload-pic">Subir Imagen</button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="valorCostoActualTotalNoIva">Costo del Producto (SIN IVA)</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-usd"></span>
                                            </span>
                                            <input type="number" value="{{ input.valorCostoActualTotal }}" class="form-control" id="valorCostoActualTotalNoIva" step="any" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="utilidadProductoConIVA">Ganancia (IVA INCLUIDO)</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-usd"></span>
                                            </span>
                                            <input type="number" value="{{ ((input.utilidadProducto ?? 0 ) * (1 + porcentajeIVA / 100))|number_format(4) }}" class="form-control" id="utilidadProductoConIVA" min="0" step="any">
                                        </div>
                                    </div>
                                    <div class="form-group hidden"> 
                                        <label for="utilidadProducto">Ganancia (SIN IVA)</label> 
                                        <div class="input-group"> 
                                            <span class="input-group-addon"> 
                                                <span class="glyphicon glyphicon-usd"></span> 
                                            </span> 
                                            <input type="number" name="utilidadProducto" value="{{ (input.utilidadProducto ?? 0)|number_format(4) }}" class="form-control" id="utilidadProducto" min="0" step="any"> 
                                        </div> 
                                    </div> 
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="valorCostoActualTotal">Costo del Producto (IVA INCLUIDO)</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-usd"></span>
                                            </span>
                                            <input type="number" value="{{ input.valorCostoActualTotal }}" class="form-control" id="valorCostoActualTotal" step="any" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group {% if not input.excentoIvaProducto  %}hidden{% endif %}">
                                        <label for="precioVentaProducto">Precio de Venta a Consumidor (EXENTO IVA)</label>
                                        <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-usd"></span>
                                        </span>
                                            <input type="number" value="{{ (input.utilidadProducto ?? 0 + input.valorCostoActualTotal ?? 0)|number_format(4) }}" class="form-control" id="precioVentaProducto" step="any">
                                        </div>
                                    </div>
                                    <div class="form-group {% if input.excentoIvaProducto  %}hidden{% endif %}">
                                        <label for="precioVentaIVAProducto">Precio de Venta a Consumidor (IVA INCLUIDO)</label>
                                        <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-usd"></span>
                                        </span>
                                            <input type="number" value="{{ ((input.utilidadProducto ?? 0 + input.valorCostoActualTotal ?? 0) * (1 + porcentajeIVA / 100))|number_format(4) }}" class="form-control" id="precioVentaIVAProducto" step="any" data-iva="{{ porcentajeIVA }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if is_admin %}
                            <button type="submit" class="btn btn-block btn-info"><span class="glyphicon glyphicon-edit"></span> Modificar Producto</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        {% if is_admin %}
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                {% include 'products/ingresarproducto.twig' %}
                <hr>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="row">
                    <div class="col-sm-6">
                        {% include 'products/existenciaproducto.twig' %}
                    </div>
                    {% if is_admin %}
                    <div class="col-sm-6">
                        {% include 'products/trasladoproducto.twig' %}
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="row">
                    {% endif %}
                    <div class="col-sm-6">
                        {% include 'products/descuentos.twig' %}
                    </div>
                    {% if is_admin %}
                    <div class="col-sm-6">
                        {% include 'products/newdescuento.twig' %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# MODAL ELIMINAR PRODUCTO #}
    {% include 'products/eliminarproducto.twig' %}
    {# MODAL SUBIR FOTO #}
    {% include 'products/uploadpic.twig' %}

    <script src="/js/newproduct.js" defer></script>
    <script src="/js/sync-precio-venta.js" defer></script>
    <script src="/js/limitar-input-numerico.js" defer></script>
{% endblock %}
