{% extends 'templates/base.twig' %}

{% block title  %}Modificar Producto{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                {% if productSaved == true %}
                <div class="alert alert-success"><span class="glyphicon glyphicon-ok-sign"></span> El producto ha sido modificado exitosamente!</div>
                {% endif %}
                {% if productSaved is same as(false) %}
                <div class="alert alert-danger"><span class="glyphicon glyphicon-remove-sign"></span> No se pudo modificar el producto.</div>
                {% endif %}
                <div class="panel panel-primary">
                    <div class="panel-heading">Modifica un producto</div>
                    <div class="panel-body">
                        <form action="{{ path_for('products') }}/id/{{ productID }}" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="categoriaProducto">Categoría del Producto</label>
                                        <select class="form-control new-product-category-select" name="categoriaProducto" id="categoriaProducto">
                                            <option value="">Elige Una Categoría</option>
                                            {% for category in categories %}
                                            <option value="{{ category.CategoriaProductoID }}" {% if input.categoriaProducto == category.CategoriaProductoID %}selected{% endif %}>{{ category.Nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group has-feedback has-clear">
                                        <label for="codigoProducto">Código</label>
                                        <div class="input-group">
                                            <span class="input-group-addon new-product-cat-preview">--</span>
                                            <input type="text" name="codigoProducto" value="{{ input.codigoProducto }}" class="form-control" id="codigoProducto" maxlength="50">
                                            <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.codigoProducto %}hidden{% endif %}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback has-clear">
                                        <label for="descripcionProducto">Descripción</label>
                                        <input type="text" name="descripcionProducto" value="{{ input.descripcionProducto }}" class="form-control" id="descripcionProducto" maxlength="255">
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.descripcionProducto %}hidden{% endif %}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="stockMinProducto">Stock Mínimo</label>
                                        <input type="number" name="stockMinProducto" value="{{ input.stockMinProducto ?? 1 }}" class="form-control" id="stockMinProducto" min="0">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="excentoIvaProducto" value="1" {% if input.excentoIvaProducto  %}checked{% endif %}> Excento IVA?
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback has-clear">
                                        <label for="marcaProducto">Marca</label>
                                        <input type="text" name="marcaProducto" value="{{ input.marcaProducto }}" class="form-control" id="marcaProducto" maxlength="100" list="listaMarcas">
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.marcaProducto %}hidden{% endif %}"></span>
                                        <datalist id="listaMarcas">
                                            {% for brand in brands %}
                                            <option>{{ brand.Nombre }}</option>
                                            {% endfor %}
                                        </datalist>
                                    </div>
                                    <div class="form-group has-feedback has-clear">
                                        <label for="medidaProducto">Unidad de Medida</label>
                                        <input type="text" name="medidaProducto" value="{{ input.medidaProducto }}" class="form-control" id="medidaProducto" maxlength="100" list="listaMedidas">
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.medidaProducto %}hidden{% endif %}"></span>
                                        <datalist id="listaMedidas">
                                            {% for unit in measurements %}
                                            <option>{{ unit.UnidadMedida }}</option>
                                            {% endfor %}
                                        </datalist>
                                    </div>
                                    <div class="form-group">
                                        <label for="categoriaDetProducto">Categoría DET</label>
                                        <select class="form-control" name="categoriaDetProducto" id="categoriaDetProducto">
                                            {% for detcat in detcategories %}
                                            <option value="{{ detcat.CodigoBienDet }}" {% if input.categoriaDetProducto == detcat.CodigoBienDet %}selected{% endif %}>{{ detcat.Descripcion }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="referenciaLibroDetProducto">Referencia Libro DET</label>
                                        <select class="form-control" name="referenciaLibroDetProducto" id="referenciaLibroDetProducto">
                                            {% for reference in detreferences %}
                                            <option value="{{ reference.CodigoLibroDet }}" {% if input.referenciaLibroDetProducto == reference.CodigoLibroDet %}selected{% endif %}>{{ reference.Descripcion }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="valorCostoActualTotal">Costo Actual del Producto</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="number" value="{{ input.valorCostoActualTotal }}" class="form-control" id="valorCostoActualTotal" step="any" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="utilidadProducto">Utilidad del Producto</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="number" name="utilidadProducto" value="{{ input.utilidadProducto ?? 0 }}" class="form-control" id="utilidadProducto" min="0" step="any">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="precioVentaProducto">Precio de Venta</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="number" value="{{ (input.utilidadProducto ?? 0 + input.valorCostoActualTotal ?? 0)|number_format(4) }}" class="form-control" id="precioVentaProducto" step="any">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="precioVentaIVAProducto">Precio de Venta + IVA</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="number" value="{{ ((input.utilidadProducto ?? 0 + input.valorCostoActualTotal ?? 0) * (1 + porcentajeIVA / 100))|number_format(4) }}" class="form-control" id="precioVentaIVAProducto" step="any" data-iva="{{ porcentajeIVA }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-info"><span class="glyphicon glyphicon-edit"></span> Modificar Producto</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                {% include 'products/ingresarproducto.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="row">
                    <div class="col-sm-6">
                        {% include 'products/existenciaproducto.twig' %}
                    </div>
                    <div class="col-sm-6">
                        {% include 'products/trasladoproducto.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/new-product-set-cat-code.js" defer></script>
    <script src="/js/sync-precio-venta.js" defer></script>
{% endblock %}
