{% extends 'templates/base.twig' %}

{% block title  %}Nuevo Producto{% endblock %}

{% block breadcrumb %}
    {{ bread.crumb(path_for('products'), 'Productos') }}
    {{ bread.crumb(path_for('products/createform'), 'Nuevo Producto') }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                {% if productSaved == true %}
                <div class="alert alert-success"><span class="glyphicon glyphicon-ok-sign"></span> El producto ha sido creado exitosamente!</div>
                {% endif %}
                {% if productSaved is same as(false) %}
                <div class="alert alert-danger"><span class="glyphicon glyphicon-remove-sign"></span> No se pudo crear el producto.</div>
                {% endif %}
                <div class="panel panel-primary">
                    <div class="panel-heading">Introduce un nuevo producto</div>
                    <div class="panel-body">
                        <form action="{{ path_for('products/createform') }}" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group {% if failedInputs.codigoCategoria %}has-error{% endif %}">
                                        <label for="categoriaProducto">Categoría del Producto</label>
                                        <select class="form-control new-product-category-select" name="categoriaProducto" id="categoriaProducto">
                                            <option value="">Elige Una Categoría</option>
                                            {% for category in categories %}
                                            <option value="{{ category.CategoriaProductoID }}" {% if input.categoriaProducto == category.CategoriaProductoID and productSaved is same as(false) %}selected{% endif %}>{{ category.Nombre }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if failedInputs.codigoCategoria %}
                                            <span class="help-block">Por favor elige una categoría.</span>
                                        {% endif %}
                                    </div>
                                    <div class="form-group has-feedback has-clear {% if failedInputs.codigoProducto %}has-error{% endif %}">
                                        <label for="codigoProducto">Código</label>
                                        <div class="input-group">
                                            <span class="input-group-addon new-product-cat-preview">--</span>
                                            <input type="text" name="codigoProducto" value="{% if productSaved is same as(false) %}{{ input.codigoProducto }}{% endif %}" class="form-control" id="codigoProducto" maxlength="20" required>
                                            <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.codigoProducto %}hidden{% endif %}"></span>
                                        </div>
                                        {% if failedInputs.codigoProducto %}
                                            <span class="help-block">Debe ser un código entre 1 y 20 caracteres.</span>
                                        {% endif %}
                                    </div>
                                    <div class="form-group has-feedback has-clear {% if failedInputs.descripcionProducto %}has-error{% endif %}">
                                        <label for="descripcionProducto">Descripción</label>
                                        <input type="text" name="descripcionProducto" value="{% if productSaved is same as(false) %}{{ input.descripcionProducto }}{% endif %}" class="form-control" id="descripcionProducto" maxlength="50" required>
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.descripcionProducto %}hidden{% endif %}"></span>
                                        {% if failedInputs.descripcionProducto %}
                                            <span class="help-block">Debe ser entre 1 y 29 caracteres.</span>
                                        {% endif %}
                                    </div>
                                    <div class="form-group {% if failedInputs.stockMinProducto %}has-error{% endif %}">
                                        <label for="stockMinProducto">Stock Mínimo</label>
                                        <input type="number" name="stockMinProducto" value="{% if productSaved is same as(false) %}{{ input.stockMinProducto ?? 1 }}{% else %}1{% endif %}" class="form-control" id="stockMinProducto" min="0">
                                        {% if failedInputs.stockMinProducto %}
                                            <span class="help-block">Debe ser mayor que cero.</span>
                                        {% endif %}
                                    </div>
                                    <div class="form-group {% if failedInputs.utilidadProducto %}has-error{% endif %}">
                                        <label for="utilidadProducto">Utilidad Inicial del Producto</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-usd"></span>
                                            </span>
                                            <input type="number" name="utilidadProducto" value="{% if productSaved is same as(false) %}{{ input.utilidadProducto ?? 0 }}{% else %}0{% endif %}" class="form-control" id="utilidadProducto" min="0" step="any">
                                        </div>
                                        {% if failedInputs.utilidadProducto %}
                                            <span class="help-block">Debe ser mayor que cero.</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback has-clear {% if failedInputs.marcaProducto %}has-error{% endif %}">
                                        <label for="marcaProducto">Marca</label>
                                        <input type="text" name="marcaProducto" value="{% if productSaved is same as(false) %}{{ input.marcaProducto }}{% endif %}" class="form-control" id="marcaProducto" maxlength="100" list="listaMarcas" required>
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.marcaProducto %}hidden{% endif %}"></span>
                                        <datalist id="listaMarcas">
                                            {% for brand in brands %}
                                            <option>{{ brand.Nombre }}</option>
                                            {% endfor %}
                                        </datalist>
                                        {% if failedInputs.marcaProducto %}
                                            <span class="help-block">Debe ser entre 1 y 100 caracteres.</span>
                                        {% endif %}
                                    </div>
                                    <div class="form-group has-feedback has-clear {% if failedInputs.medidaProducto %}has-error{% endif %}">
                                        <label for="medidaProducto">Unidad de Medida</label>
                                        <input type="text" name="medidaProducto" value="{% if productSaved is same as(false) %}{{ input.medidaProducto }}{% endif %}" class="form-control" id="medidaProducto" maxlength="24" list="listaMedidas" required>
                                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.medidaProducto %}hidden{% endif %}"></span>
                                        <datalist id="listaMedidas">
                                            {% for unit in measurements %}
                                            <option>{{ unit.UnidadMedida }}</option>
                                            {% endfor %}
                                        </datalist>
                                        {% if failedInputs.medidaProducto %}
                                            <span class="help-block">Debe ser entre 1 y 24 caracteres.</span>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="categoriaDetProducto">Categoría DET</label>
                                        <select class="form-control" name="categoriaDetProducto" id="categoriaDetProducto">
                                            {% for detcat in detcategories %}
                                            <option value="{{ detcat.CodigoBienDet }}" {% if input.categoriaDetProducto == detcat.CodigoBienDet and productSaved is same as(false) %}selected{% endif %}>{{ detcat.Descripcion }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="referenciaLibroDetProducto">Referencia Libro DET</label>
                                        <select class="form-control" name="referenciaLibroDetProducto" id="referenciaLibroDetProducto">
                                            {% for reference in detreferences %}
                                            <option value="{{ reference.CodigoLibroDet }}" {% if input.referenciaLibroDetProducto == reference.CodigoLibroDet and productSaved is same as(false) %}selected{% endif %}>{{ reference.Descripcion }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="excentoIvaProducto" value="1" {% if input.excentoIvaProducto and productSaved is same as(false) %}checked{% endif %}> Exento IVA?
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-info"><span class="glyphicon glyphicon-plus-sign"></span> Crear Producto</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/newproduct.js" defer></script>
{% endblock %}
