{% extends 'templates/base.twig' %}

{% block title  %}Productos{% endblock %}

{% block breadcrumb %}
    {{ bread.crumb(path_for('products'), 'Productos') }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-3">
                <div class="panel panel-primary">
                    
                    <div class="panel-body">
                        <form id="productsForm" action="{{ path_for('products') }}" method="get" role="form">
                            <div class="form-group has-feedback has-clear">
                                <label for="codigoProducto">Código</label>
                                <input id="codigoProducto" class="form-control" type="text" name="codigoProducto" placeholder="Código del producto" value="{{ input.codigoProducto }}">
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.codigoProducto %}hidden{% endif %}"></span>
                            </div>
                            <div class="form-group has-feedback has-clear">
                                <label for="codigoBarra">Código de Barras</label>
                                <input id="codigoBarra" class="form-control" type="text" name="codigoBarra" placeholder="Código de Barras" value="{{ input.codigoBarra }}">
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.codigoBarra %}hidden{% endif %}"></span>
                            </div>
                            <div class="form-group has-feedback has-clear">
                                <label for="categoriaProducto">Categoría</label>
                                <input id="categoriaProducto" class="form-control" type="text" name="categoriaProducto" placeholder="Categoría del producto" value="{{ input.categoriaProducto }}" list="listaCategorias" maxlength="100">
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.categoriaProducto %}hidden{% endif %}"></span>
                                <datalist id="listaCategorias">
                                    {% for category in categories %}
                                        <option>{{ category.Nombre }}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="form-group has-feedback has-clear">
                                <label for="marcaProducto">Marca</label>
                                <input id="marcaProducto" class="form-control" type="text" name="marcaProducto" placeholder="Marca del producto" value="{{ input.marcaProducto }}" list="listaMarcas" maxlength="500">
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.marcaProducto %}hidden{% endif %}"></span>
                                <datalist id="listaMarcas">
                                    {% for brand in brands %}
                                        <option>{{ brand.Nombre }}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="form-group has-feedback has-clear">
                                <label for="nombreProducto">Nombre</label>
                                <input id="nombreProducto" class="form-control" type="text" name="nombreProducto" placeholder="Nombre del producto" value="{{ input.nombreProducto }}">
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.nombreProducto %}hidden{% endif %}"></span>
                            </div>
                            <div class="form-group">
                                <label for="productoActivo">Estado del Producto</label>
                                <select name="productoActivo" class="form-control" id="productoActivo">
                                    <option value="1" {% if input.productoActivo == 1 %}selected{% endif %}>Activos</option>
                                    <option value="0" {% if input.productoActivo == 0 %}selected{% endif %}>Inactivos</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="productsPerPage">Cantidad por página</label>
                                <select id="productsPerPage" class="form-control" name="itemsPerPage">
                                    {% for opt in perPageOpts %}
                                        <option value="{{ opt }}" {% if pagination.itemsPerPage == opt %}selected{% endif %}>{{ opt }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="hidden" name="currentPage" value="{{ pagination.currentPage }}">
                            <input type="hidden" name="orderby" value="{{ input.orderby }}">
                            <button class="btn btn-block btn-info link-submit" type="submit" data-input="currentPage" data-value="1" >
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar Productos
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0 col-lg-9">
                <div class="panel no-margin-bottom {% if products %}panel-primary{% else %}panel-default{% endif %}">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ pagination.totalItems }} Resultados</h2>
                        <small class="abs-right"><b>*</b> Precios exentos de IVA</small>
                    </div>
                    <div class="table-responsive keepInViewport">
                        <table class="table table-hover">
                            <thead>
                                <tr class="small">
                                    <th><a href="#" class="link-submit" data-input="orderby" data-value="CodigoProducto">Código {% if input.orderby == 'CodigoProducto' %}▼{% endif %}</a></th>
                                    <th><a href="#" class="link-submit" data-input="orderby" data-value="Barra">Barra {% if input.orderby == 'Barra' %}▼{% endif %}</a></th>
                                    <th><a href="#" class="link-submit" data-input="orderby" data-value="NombreCategoria">Categoría{% if input.orderby == 'NombreCategoria' %}▼{% endif %}</a></th>
                                    <th><a href="#" class="link-submit" data-input="orderby" data-value="NombreMarca">Marca{% if input.orderby == 'NombreMarca' %}▼{% endif %}</a></th>
                                    <th><a href="#" class="link-submit" data-input="orderby" data-value="Descripcion">Nombre{% if input.orderby == 'Descripcion' %}▼{% endif %}</a></th>
                                    <th>Cantidad</th>
                                    <th>P/Venta</th>
                                    <th>Costo</th>
                                    <th>Imagen</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr class="anchorize small" data-href="{{ path_for('products/update', {id: product.ProductoID}) }}">
                                    <td>{{ product.CodigoProducto }}</td>
                                    <td>{{ product.Barra }}</td>
                                    <td>{{ product.NombreCategoria }}</td>
                                    <td>{{ product.NombreMarca }}</td>
                                    <td>{{ product.Descripcion }}</td>
                                    <td>{{ product.Cantidad }} {{ product.UnidadMedida }}</td>
                                    <td><a class="popovers" href="#" tabindex="0" role="button" data-placement="left" data-toggle="popover" data-trigger="hover" title="Detalles" data-html="true" data-content="<pre class='no-margin text-wrap'>{{ product.Detalles }}</pre>">
                                    {% if product.ExcentoIVA == 1 %}
                                        $ {{ (product.CostoActual + product.Utilidad)|number_format(2) }}<b class="text-info">*</b>
                                    {% else %}
                                        $ {{ ((product.CostoActual + product.Utilidad) * (1 + porcentajeIVA / 100))|number_format(2) }}
                                    {% endif %}
                                    </a></td>
                                    <td><a class="popovers" href="#" tabindex="0" role="button" data-placement="left" data-toggle="popover" data-trigger="hover" title="Costo (IVA Incluido)" data-content="$ {{ (product.CostoActual * (1 + porcentajeIVA / 100))|number_format(4) }}">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a></td>
                                    <td><a class="popovers" href="#" tabindex="0" role="button" data-placement="left" data-toggle="popover" data-trigger="hover" title="Imagen" data-html="true" data-content="<img style='max-height: 70vh; max-width: 100%' src='/img/products/{{ product.ProductoID }}.jpg'>">
                                        <img src="/img/products/{{ product.ProductoID }}.jpg" height="20" width="20">
                                    </a></td>
                                </tr>
                            {% else %}
                            </tbody>
                            <caption class="bottom-captions text-center">No se encontraron resultados</caption>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% include 'templates/listpagination.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
