{% extends 'templates/base.twig' %}

{% block title  %}Productos{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Búsqueda de Productos</h2>
                    </div>
                    <div class="panel-body">
                        <form id="productsForm" action="{{ path_for('products') }}" method="get" role="form">
                            <div class="form-group has-feedback has-clear">
                                <label for="codigoProducto">Código</label>
                                <input id="codigoProducto" class="form-control" type="text" name="codigoProducto" placeholder="Código del producto" value="{{ input.codigoProducto }}">
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.codigoProducto %}hidden{% endif %}"></span>
                            </div>
                            <div class="form-group">
                                <label for="categoriaProducto">Categoría</label>
                                <select class="form-control" name="categoriaProducto" id="categoriaProducto">
                                    <option value="">Todas</option>
                                    {% for category in categories %}
                                        <option value="{{ category.CategoriaProductoID }}" {% if input.categoriaProducto == category.CategoriaProductoID %}selected{% endif %}>{{ category.Nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="marcaProducto">Marca</label>
                                <select class="form-control" name="marcaProducto" id="marcaProducto">
                                    <option value="">Todas</option>
                                    {% for brand in brands %}
                                        <option value="{{ brand.MarcaID }}" {% if input.marcaProducto == brand.MarcaID %}selected{% endif %}>{{ brand.Nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group has-feedback has-clear">
                                <label for="nombreProducto">Nombre</label>
                                <input id="nombreProducto" class="form-control" type="text" name="nombreProducto" placeholder="Nombre del producto" value="{{ input.nombreProducto }}">
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.nombreProducto %}hidden{% endif %}"></span>
                            </div>
                            <div class="form-group">
                                <label for="productsPerPage">Cantidad por página</label>
                                <select id="productsPerPage" class="form-control" name="itemsPerPage">
                                    {% set perPageOpts = [10, 25, 50] %}
                                    {% for opt in perPageOpts %}
                                        <option value="{{ opt }}" {% if pagination.itemsPerPage == opt %}selected{% endif %}>{{ opt }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="hidden" name="currentPage" value="{{ pagination.currentPage }}">
                            <button class="btn btn-block btn-info link-submit" type="submit" data-input="currentPage" data-value="1" >
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0 col-lg-9">
                <div class="panel no-margin-bottom {% if products %}panel-primary{% else %}panel-default{% endif %}">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ pagination.totalItems }} Resultados</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Categoría</th>
                                    <th>Marca</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Precio de Venta*</th>
                                </tr>
                            </thead>

                            <tbody>
                            {% for product in products %}
                                <tr class="anchorize" data-href="{{ path_for('products') }}/id/{{ product.ProductoID }}">
                                    <td>{{ product.CategoriaProductoID }}{{ product.CodigoProducto }}</td>
                                    <td>{{ product.NombreCategoria }}</td>
                                    <td>{{ product.NombreMarca }}</td>
                                    <td>{{ product.Descripcion }}</td>
                                    <td>{{ product.Cantidad }} {{ product.UnidadMedida }}</td>
                                    <td>$ {{ ((product.CostoActual + product.Utilidad) * (1 + porcentajeIVA / 100))|number_format(2) }}</td>
                                </tr>
                            {% else %}
                            </tbody>
                            <caption class="bottom-captions text-center">No se encontraron resultados</caption>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer">
                        <small class="text-muted">*Precios con IVA incluido</small>
                    </div>
                </div>
                {% include 'templates/listpagination.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
