{% extends 'templates/base.html' %}

{% block title %}Almacenes{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Búsqueda de Almacenes</h2>
                    </div>
                    <div class="panel-body">
                        <form id="almacenesForm" action="{{ path_for('warehouses') }}" method="get" role="form">
                            <div class="form-group has-feedback has-clear">
                                <label for="nombreAlmacen">Nombre</label>
                                <input id="nombreAlmacen" class="form-control" type="text" name="nombreAlmacen" placeholder="Nombre del Almacen" value="{{ input.nombreAlmacen }}">
                                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.nombreAlmacen %}hidden{% endif %}"></span>
                            </div>
                            <div class="form-group">
                                <label for="almacenesPerPage">Cantidad por página</label>
                                <select id="almacenesPerPage" class="form-control" name="itemsPerPage">
                                    {% set perPageOpts = [10, 25, 50] %}
                                    {% for opt in perPageOpts %}
                                        <option value="{{ opt }}" {% if pagination.itemsPerPage == opt %}selected{% endif %}>{{ opt }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="hidden" name="currentPage" value="{{ pagination.currentPage }}">
                            <button class="btn btn-block btn-info link-submit" type="submit" data-input="currentPage" data-value="1">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0 col-lg-9">
                <div class="panel no-margin-bottom {% if warehouses %}panel-primary{% else %}panel-default{% endif %}">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ pagination.totalItems }} Resultados</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Cantidad de Productos</th>
                                    <th>Teléfono</th>
                                    <th>Dirección</th>
                                </tr>
                            </thead>

                            <tbody>
                            {% for warehouse in warehouses %}
                                <tr class="anchorize" data-href="{{ path_for('warehouses/update', {'id': warehouse.AlmacenID}) }}">
                                    <td>{{ warehouse.AlmacenID }}</td>
                                    <td>{{ warehouse.NombreAlmacen }}</td>
                                    <td>{{ warehouse.Cantidad }}</td>
                                    <td>{{ warehouse.Telefono }}</td>
                                    <td>{{ warehouse.Direccion }}</td>
                                </tr>
                            {% else %}
                            </tbody>
                            <caption class="bottom-captions text-center">No se encontraron resultados</caption>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% include 'templates/listpagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}
