{% extends 'templates/base.twig' %}

{% block title %}Reporte Rendimiento{% endblock %}

{% block breadcrumb %}
    {{ bread.crumb(path_for('reportes'), 'Reportes') }}
{% endblock %}

{% block content %}

<div class="container-fluid">
    {% if is_admin %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Rendimiento de Ventas</h4>
                </div>
                <div class="table-responsive">
                    <table id="rendimiento_vendedores" class="table table-bordered">
                        <thead style="border-top: 1px solid #dddddd;">
                            <tr>
                                <th></th>
                                <th></th>
                                <th colspan="3">Periodo</th>
                                <th colspan="2">Periodo</th>
                                <th></th>
                                <th></th>
                                <th>Periodo</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th colspan="3">Mes {{ mes.nombre }}</th>
                                <th colspan="2">Mes</th>
                                <th></th>
                                <th></th>
                                <th class="tableexport-string">Año {{ ano }}</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Empleado</th>
                                <th>Código</th>
                                <th>Día</th>
                                <th>Facturas</th>
                                <th>Valor</th>
                                <th>Del</th>
                                <th>Al</th>
                                <th>Facturas mes</th>
                                <th>Valor mes</th>
                                <th>Total Facturas</th>
                                <th>Valor monetario anual</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for empleado in rendimiento %}
                            <tr>
                                <td>{{ empleado.nombre }}</td>
                                <td>{{ empleado.codigo }}</td>
                                <td>{{ dia }}</td>
                                <td>{{ empleado.dia.cantidad }}</td>
                                <td>$ {{ empleado.dia.valor|number_format(2) }}</td>
                                <td>1</td>
                                <td>{{ mes.longitud }}</td>
                                <td>{{ empleado.mes.cantidad }}</td>
                                <td>$ {{ empleado.mes.valor|number_format(2) }}</td>
                                <td>{{ empleado.ano.cantidad }}</td>
                                <td>$ {{ empleado.ano.valor|number_format(2) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<script>
TableExport(document.getElementById('rendimiento_vendedores'), {
    filename: 'rendimiento_vendedores',
    position: 'top',
    formats: ['xlsx'],
})
</script>

{% endblock %}
