{% extends 'templates/base.twig' %}

{% block title %}Reportes{% endblock %}

{% block breadcrumb %}
    {{ bread.crumb(path_for('reportes'), 'Reportes') }}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        {% if is_admin %}
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Generar .PRN Para Sistema DET</h4>
                    </div>
                    <div class="panel-body">
                        <form action="/reportes/det" method="get" target="_blank">
                            <div class="form-group">
                                <label for="year">Año a mostrar en el reporte</label>
                                <input type="text" name="year" class="form-control" id="year" maxlength="4" required>
                            </div>
                            <button type="submit" class="btn btn-block btn-info">Generar Reporte DET</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Rendimiento de Ventas</h4>
                    </div>
                    <div class="panel-body">
                        <form action="/reportes/rendimiento" method="get">
                            <div class="form-group">
                                <label for="fecha">Fecha a mostrar</label>
                                <input type="date" name="fecha" class="form-control" id="fecha" required>
                            </div>
                            <button type="submit" class="btn btn-block btn-info">Generar Reporte</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Reporte de resumen de existencia de mercadería</h4>
                    </div>
                    <div class="panel-body">
                        <a href="/reportes/resumenexistencia" target="_blank" class="btn btn-block btn-info">Generar Reporte Resumen Total</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Reporte de Conteo de Inventario Físico</h4>
                    </div>
                    <div class="panel-body">
                        <form action="/reportes/conteo" method="get" target="_blank">
                            <div class="form-group">
                                <label for="category">Categoría</label>
                                <select name="category" id="category" class="form-control">
                                    <option value="%">Todas</option>
                                    {% for category in categories %}
                                        <option value="{{ category.CategoriaProductoID }}">{{ category.Nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="brand">Marca</label>
                                <select name="brand" id="brand" class="form-control">
                                    <option value="%">Todas</option>
                                    {% for brand in brands %}
                                        <option value="{{ brand.MarcaID }}">{{ brand.Nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label>Campos a mostrar</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="columns[]" value="barra" checked> Código de Barra
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="columns[]" value="costo" checked> Costo del producto
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="columns[]" value="venta" checked> Precio de venta
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="columns[]" value="diferencia" checked> Diferencia costo / precio de venta
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="orderby">Ordenar Por</label>
                                <select name="orderby" id="orderby" class="form-control">
                                    <option value="Descripcion">Nombre</option>
                                    <option value="CodigoProducto">Código</option>
                                    <option value="UnidadMedida">Medida</option>
                                    <option value="NombreMarca">Marca</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-block btn-info">Generar Reporte Conteo</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}
